.contents {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-title {
  color: white;
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
}
.card {
  padding: 1vw;
  min-height: 49vw;
  width: 96vw;
  margin-top: 1vw;
  outline: solid;
  outline-width: 1px;
  background-color: rgb(243, 248, 255, 0.8);
  border-radius: 1vw;
}
.card-info {
  font-size: 1.5rem;
}
.card-title {
  font-size: 2.6rem;
  margin-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.card-image {
  width: 96vw;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  outline: solid;
  outline-width: 1px;
  opacity: 0.9;
  z-index: 3;
  border-radius: 1vw;
}
